I have a {{ .Extension }} caption / subtitle file for a film in {{ .SourceLanguage }} and I'd like
you to translate the file into {{ .DestinationLanguage }}:

BEGIN
===
{{ .SubtitleFileContents }}
===
END
