I have a {{ .Extension }} caption / subtitle file for a film in {{ .SourceLanguage }} and I'd like
you to translate the file into {{ .TargetLanguage }} keeping the pipe character "|" intact so they will match up with
the english versions and put nothing else but the translation in the output:

===

{{ .SourceText }}

===
